@import url("https://fonts.googleapis.com/css?family=Raleway:700,900");
/*
Margins

 */
.u-margin {
  margin: 2rem !important; }

.u-margin__ends {
  margin: 2rem 0 !important; }

.u-margin__sides {
  margin: 0 2rem !important; }

.u-margin__left {
  margin: 0 0 0 2rem !important; }

.u-margin__right {
  margin: 0 2rem 0 0 !important; }

.u-margin__top {
  margin: 2rem 0 0 0 !important; }

.u-margin__bottom {
  margin: 0 0 2rem 0 !important; }

.u-margin--xs {
  margin: 0.5rem !important; }

.u-margin__ends--xs {
  margin: 0.5rem 0 !important; }

.u-margin__sides--xs {
  margin: 0 0.5rem !important; }

.u-margin__left--xs {
  margin: 0 0 0 0.5rem !important; }

.u-margin__right--xs {
  margin: 0 0.5rem 0 0 !important; }

.u-margin__top--xs {
  margin: 0.5rem 0 0 0 !important; }

.u-margin__bottom--xs {
  margin: 0 0 0.5rem 0 !important; }

.u-margin--s {
  margin: 1rem !important; }

.u-margin__ends--s {
  margin: 1rem 0 !important; }

.u-margin__sides--s {
  margin: 0 1rem !important; }

.u-margin__left--s {
  margin: 0 0 0 1rem !important; }

.u-margin__right--s {
  margin: 0 1rem 0 0 !important; }

.u-margin__top--s {
  margin: 1rem 0 0 0 !important; }

.u-margin__bottom--s {
  margin: 0 0 1rem 0 !important; }

.u-margin--m {
  margin: 3rem !important; }

.u-margin__ends--m {
  margin: 3rem 0 !important; }

.u-margin__sides--m {
  margin: 0 3rem !important; }

.u-margin__left--m {
  margin: 0 0 0 3rem !important; }

.u-margin__right--m {
  margin: 0 3rem 0 0 !important; }

.u-margin__top--m {
  margin: 3rem 0 0 0 !important; }

.u-margin__bottom--m {
  margin: 0 0 3rem 0 !important; }

.u-margin--l {
  margin: 4rem !important; }

.u-margin__ends--l {
  margin: 4rem 0 !important; }

.u-margin__sides--l {
  margin: 0 4rem !important; }

.u-margin__left--l {
  margin: 0 0 0 4rem !important; }

.u-margin__right--l {
  margin: 0 4rem 0 0 !important; }

.u-margin__top--l {
  margin: 4rem 0 0 0 !important; }

.u-margin__bottom--l {
  margin: 0 0 4rem 0 !important; }

.u-margin--xl {
  margin: 5rem !important; }

.u-margin__ends--xl {
  margin: 5rem 0 !important; }

.u-margin__sides--xl {
  margin: 0 5rem !important; }

.u-margin__left--xl {
  margin: 0 0 0 5rem !important; }

.u-margin__right--xl {
  margin: 0 5rem 0 0 !important; }

.u-margin__top--xl {
  margin: 5rem 0 0 0 !important; }

.u-margin__bottom--xl {
  margin: 0 0 5rem 0 !important; }

:root {
  --cta: #b14d61;
  --cta-darker: #9e465b;
  --section-headline: rgb(242,242,242);
  --body-color: rgb(51,51,51);
  --font-family: Raleway, sans-serif; }

*, *:after, *:before {
  margin: 0;
  padding: 0; }

html {
  position: relative;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: var(--font-family); }

.logo {
  display: block;
  text-indent: -9999rem;
  width: 100%;
  height: 100%; }
  .logo__hero--dark {
    background: url(../img/logo_hero--dark.svg);
    background-repeat: no-repeat; }
  .logo__secondary--white {
    background: url(../img/logo_secondary--white.svg);
    background-repeat: no-repeat; }

.headline {
  font-size: 6rem;
  color: var(--cta);
  font-weight: 900;
  line-height: 6.5rem;
  letter-spacing: -0.01rem; }
  .headline--2 {
    font-size: 6rem;
    font-weight: 900;
    color: var(--cta);
    letter-spacing: -0.01rem;
    margin-bottom: 1.6rem; }

.body-text {
  font-size: 2.8rem;
  color: var(--body-color);
  line-height: 3.4rem;
  letter-spacing: 0;
  font-weight: 700; }

.header {
  width: 100vw;
  position: fixed;
  top: 10.9rem;
  font-size: 1.3rem;
  z-index: 5; }

.btn {
  outline: none;
  border: none;
  padding: 1rem 2rem;
  font-weight: 700;
  font-size: 1.8rem;
  background-color: var(--cta);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s ease-out; }
  .btn:hover {
    transform: translateY(-0.4rem);
    background-color: var(--cta-darker);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2); }
  .btn:active {
    transform: translateY(-0.2rem);
    background-color: var(--cta);
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1); }
  .btn--outline {
    background-color: transparent;
    background: linear-gradient(to right, #b14d61 50%, rgba(0, 0, 0, 0) 50%);
    background-size: 200%;
    background-position: -100%;
    color: var(--cta);
    border: 2px solid currentColor; }
    .btn--outline:hover {
      color: white;
      border-color: transparent;
      background-position: 100%; }
  .btn--light {
    background-color: white;
    color: var(--cta); }
    .btn--light:hover {
      background-color: white; }
    .btn--light:active {
      color: var(--cta-darker); }
  .btn--text {
    background-color: transparent;
    color: var(--cta); }
    .btn--text:hover {
      background-color: transparent; }
    .btn--text:active {
      color: var(--cta-darker); }

.text-input {
  position: absolute;
  top: 0;
  width: 30%;
  background-color: transparent;
  border: none;
  border-bottom: 1.2px solid black;
  padding: 1.2rem 1rem;
  transition: all .4s ease-out; }
  .text-input__container {
    border: solid 2px red;
    padding: 4rem 0rem;
    position: relative;
    display: block; }
  .text-input__label {
    position: absolute;
    padding: 1.2rem 1rem;
    font-weight: 900;
    font-size: 1.4rem;
    top: 0;
    transition: all .2s ease-out; }
  .text-input:not(:placeholder-shown) ~ .text-input__label {
    transform: translateY(-2rem);
    color: var(--cta-darker); }
  .text-input:focus {
    outline: none;
    border-bottom-color: var(--cta); }

.menu-container {
  position: fixed;
  right: 5rem;
  top: 2.5rem;
  width: 8rem;
  height: 8rem;
  background-color: white;
  border-radius: 20rem;
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: all .2s ease-out;
  z-index: 6;
  /*.menu-container*/
  /*.menu-container*/ }
  .menu-container__inner {
    position: absolute;
    width: 6rem;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    .menu-container__inner svg * {
      transition: all .2s ease-out; }
    .menu-container__inner svg .fill--cta {
      fill: var(--cta); }
    .menu-container__inner svg path[name="top"] {
      transform-origin: right center; }
    .menu-container__inner svg path[name="middle"] {
      transform-origin: center center; }
    .menu-container__inner svg path[name="bottom"] {
      transform-origin: center center; }
  .menu-container:hover, .menu-container:focus {
    transform: translateY(-8px); }
    .menu-container:hover svg .fill--cta, .menu-container:focus svg .fill--cta {
      fill: var(--cta-darker); }
    .menu-container:hover svg path[name="top"], .menu-container:focus svg path[name="top"] {
      transform: rotate(15deg); }
    .menu-container:hover svg path[name="bottom"], .menu-container:focus svg path[name="bottom"] {
      transform: translateY(-10px); }
  .menu-container:active {
    background-color: var(--cta);
    transform: translateY(-0.4rem); }
    .menu-container:active svg .fill--cta {
      fill: var(--cta); }
    .menu-container:active svg path[name="top"] {
      transform-origin: center center;
      transform: rotate(43deg) translateY(15rem) scaleX(1.7);
      fill: white !important; }
    .menu-container:active svg path[name="bottom"] {
      transform: translateX(-125px) translateY(-120px) rotate(-48deg) scaleX(1.9);
      fill: white !important; }
    .menu-container:active svg path[name="middle"] {
      transform: scale(2.8);
      border-radius: 200px;
      fill: transparent; }

.active {
  background-color: transparent;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0); }

input[type="checkbox"] {
  display: none;
  visibility: hidden; }

#menu:checked ~ .menu-container__inner svg .fill--cta {
  fill: var(--cta); }

#menu:checked ~ .menu-container__inner svg path[name="top"] {
  transform-origin: center center;
  transform: rotate(43deg) translateY(15rem) scaleX(1.7);
  fill: white !important; }

#menu:checked ~ .menu-container__inner svg path[name="bottom"] {
  transform: translateX(-12.5rem) translateY(-12rem) rotate(-48deg) scaleX(1.9);
  fill: white !important; }

#menu:checked ~ .menu-container__inner svg path[name="middle"] {
  transform: scale(2.8);
  fill: transparent; }

.nav-bg {
  position: fixed;
  right: 5rem;
  top: 2.5rem;
  width: 8rem;
  height: 8rem;
  transform: scale(0);
  opacity: 0.01;
  transition: all .5s ease-out;
  z-index: 3;
  border-radius: 200px;
  background-color: var(--cta);
  background: radial-gradient(circle at 100%, var(--cta), var(--cta-darker));
  transform-origin: center center; }
  .nav-bg.active {
    transform: scale(85);
    opacity: 1; }

.nav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  z-index: -5;
  transform: translateY(-100vh);
  transition: transform .6s ease-out;
  background-color: transparent; }
  .nav__logo-box {
    position: absolute;
    left: 16.4rem;
    top: 6.9rem;
    width: 30rem;
    height: 17.1rem;
    opacity: 0;
    transition: opacity .4s ease-out .6s; }
  .nav ul {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: top;
    opacity: 0;
    transition: all .4s ease-out .2s; }
    .nav ul li {
      color: white;
      font-size: 40px;
      font-weight: 700;
      letter-spacing: -.22rem;
      background: linear-gradient(to left, white 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
      background-size: 220%;
      cursor: default;
      transition: all .2s ease-out;
      padding: 1.0rem 1.5rem; }
      .nav ul li:hover {
        background-position: 100%;
        color: var(--cta);
        transform: translateX(10px); }
      .nav ul li:not(:last-child) {
        margin-bottom: 15px; }
      .nav ul li a:link, .nav ul li a:visited {
        text-decoration: none;
        color: currentColor; }
  .nav.active {
    transform: translateY(0);
    z-index: 5; }
    .nav.active .nav__logo-box {
      opacity: 1; }
    .nav.active ul {
      opacity: 1;
      transform: translate(-50%, -50%);
      transition: opacity .4s ease-out;
      transition-delay: 0; }
      .nav.active ul li {
        cursor: pointer; }
        .nav.active ul li a:link, .nav.active ul li a:visited {
          text-decoration: none; }

.section {
  width: 100vw;
  position: relative; }
  .section__headline-box {
    position: absolute;
    width: 100vw;
    top: 2.5rem; }
    .section__headline-box--order {
      top: 0;
      margin-top: -55rem;
      opacity: .5; }
  .section__headline {
    width: 100%;
    font-size: 20rem;
    line-height: 6.5rem;
    letter-spacing: -0.01rem;
    text-align: left;
    font-weight: 900;
    color: var(--section-headline); }
  .section__home {
    background: linear-gradient(to bottom, white, #d9d9d9);
    height: 100vh; }
    .section__home-logo-box {
      position: absolute;
      width: 30rem;
      height: 17.1rem;
      left: 16.4rem;
      top: 6.9rem; }
    .section__home-headline-box {
      position: absolute;
      left: 16.3rem;
      top: 50%;
      transform: translateY(-50%);
      width: 54.2rem;
      height: 17.4rem; }
    .section__home-hero-image-box {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 80vw;
      height: auto; }
      .section__home-hero-image-box img {
        height: 100%;
        width: 100%; }
  .section__story {
    height: 100vh;
    z-index: -2; }
    .section__story-textbox--left {
      position: absolute;
      width: 44.7rem;
      height: 29.1rem;
      left: 16.3rem;
      top: 27.3rem; }
    .section__story-textbox--right {
      position: absolute;
      left: 105rem;
      top: 26.5rem;
      width: 32.4rem;
      height: 29.1rem; }
  .section__order {
    position: relative;
    margin-top: -50vh;
    width: 100vw;
    height: 73rem;
    background-color: var(--cta-darker); }
    .section__order-form-container {
      position: absolute;
      left: 50%;
      top: -41rem;
      transform: translateX(-50%);
      width: 127.3rem;
      height: 114.6rem;
      background-color: white;
      border-radius: 80px 80px 0 0;
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3); }
    .section__order-form {
      position: absolute;
      margin: 0 auto;
      left: 10rem;
      top: 8rem;
      width: 80%; }

.coffee-feature-container {
  position: relative;
  margin-top: -35rem;
  z-index: -4;
  width: 100vw;
  height: auto;
  overflow: hidden; }

.coffee-feature {
  width: 100%; }
