@import url("https://fonts.googleapis.com/css?family=Raleway:700,900");
:root {
  --cta: #b14d61;
  --cta-darker: #9e465b;
  --font-family: Raleway, sans-serif; }

*, *:after, *:before {
  margin: 0;
  padding: 0; }

html {
  position: relative;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: var(--font-family); }

.logo {
  display: block;
  text-indent: -9999rem;
  width: 100%;
  height: 100%; }
  .logo__hero--dark {
    background: url(../img/logo_hero--dark.svg);
    background-repeat: no-repeat; }

h1.headline {
  font-size: 6rem;
  color: var(--cta);
  font-weight: 900;
  line-height: 6.5rem;
  letter-spacing: -0.01rem; }

.header {
  width: 100vw;
  position: fixed;
  top: 10.9rem;
  font-size: 1.3rem; }
  .header i {
    position: absolute;
    right: 5rem; }

.menu-container {
  position: fixed;
  right: 5rem;
  top: 2.5rem;
  width: 8rem;
  height: 8rem;
  background-color: white;
  border-radius: 20rem;
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: all .2s ease-out;
  z-index: 6; }
  .menu-container__inner {
    position: absolute;
    width: 6rem;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    .menu-container__inner svg * {
      transition: all .2s ease-out; }
    .menu-container__inner svg .fill--cta {
      fill: var(--cta); }
    .menu-container__inner svg path[name="top"] {
      transform-origin: right center; }
    .menu-container__inner svg path[name="middle"] {
      transform-origin: center center; }
    .menu-container__inner svg path[name="bottom"] {
      transform-origin: center center; }
  .menu-container:hover, .menu-container:focus {
    transform: translateY(-8px); }
    .menu-container:hover svg .fill--cta, .menu-container:focus svg .fill--cta {
      fill: var(--cta-darker); }
    .menu-container:hover svg path[name="top"], .menu-container:focus svg path[name="top"] {
      transform: rotate(15deg); }
    .menu-container:hover svg path[name="bottom"], .menu-container:focus svg path[name="bottom"] {
      transform: translateY(-10px); }
  .menu-container:active {
    background-color: var(--cta);
    transform: translateY(-0.4rem); }
    .menu-container:active svg .fill--cta {
      fill: var(--cta); }
    .menu-container:active svg path[name="top"] {
      transform-origin: center center;
      transform: rotate(43deg) translateY(15rem) scaleX(1.7); }
    .menu-container:active svg path[name="bottom"] {
      transform: translateX(-125px) translateY(-120px) rotate(-48deg) scaleX(1.9); }
    .menu-container:active svg path[name="middle"] {
      transform: scale(2.8);
      border-radius: 200px;
      fill: transparent; }

.active {
  background-color: transparent;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0); }

input[type="checkbox"] {
  display: none;
  visibility: hidden; }

#menu:checked ~ .menu-container__inner svg .fill--cta {
  fill: var(--cta); }

#menu:checked ~ .menu-container__inner svg path[name="top"] {
  transform-origin: center center;
  transform: rotate(43deg) translateY(15rem) scaleX(1.7); }

#menu:checked ~ .menu-container__inner svg path[name="bottom"] {
  transform: translateX(-12.5rem) translateY(-12rem) rotate(-48deg) scaleX(1.9); }

#menu:checked ~ .menu-container__inner svg path[name="middle"] {
  transform: scale(2.8);
  fill: transparent; }

.nav-bg {
  position: fixed;
  right: 5rem;
  top: 2.5rem;
  width: 8rem;
  height: 8rem;
  transform: scale(0);
  opacity: 0.01;
  transition: all .5s ease-out;
  z-index: 3;
  border-radius: 200px;
  background-color: var(--cta);
  background: radial-gradient(circle at 100%, var(--cta), var(--cta-darker));
  transform-origin: center center; }
  .nav-bg.active {
    transform: scale(85);
    opacity: 1; }

.nav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  z-index: 5;
  transform: translateY(-32rem);
  transition: transform .6s ease-out;
  background-color: transparent; }
  .nav ul {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: top;
    opacity: 0;
    transition: all .4s ease-out .2s; }
    .nav ul li {
      color: white;
      font-size: 40px;
      font-weight: 700;
      letter-spacing: -.22rem;
      background: linear-gradient(to left, white 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
      background-size: 220%;
      cursor: default;
      transition: all .2s ease-out;
      padding: 1.0rem 1.5rem; }
      .nav ul li:hover {
        background-position: 100%;
        color: var(--cta);
        transform: translateX(10px); }
      .nav ul li:not(:last-child) {
        margin-bottom: 15px; }
  .nav.active {
    transform: translateY(0); }
    .nav.active ul {
      opacity: 1;
      transform: translate(-50%, -50%);
      transition: opacity .4s ease-out;
      transition-delay: 0; }
      .nav.active ul li {
        cursor: pointer; }
        .nav.active ul li a:link, .nav.active ul li a:visited {
          text-decoration: none; }

.section {
  width: 100vw;
  position: relative;
  z-index: -1; }
  .section__home {
    background: linear-gradient(to bottom, white, #d9d9d9);
    height: 100vh; }
    .section__home-logo-box {
      position: absolute;
      width: 30rem;
      height: 17.1rem;
      left: 16.4rem;
      top: 6.9rem; }
    .section__home-headline-box {
      position: absolute;
      left: 16.3rem;
      top: 50%;
      transform: translateY(-50%);
      width: 54.2rem;
      height: 17.4rem; }
    .section__home-hero-image-box {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 80vw;
      height: auto; }
      .section__home-hero-image-box img {
        height: 100%;
        width: 100%; }
