@mixin clearfix{
  &::after{
    content: '';
    display: table;
    clear: both;
  }
}

/*
Displayz
 */

$displayList: block, inline-block, inline, table, table-cell;

@each $display in $displayList {
  .u-display-#{$display}{
    display: $display !important;
  }
}

/*
Position
 */

.u-position-fixed{
  position: fixed !important;
}
.u-position-absolute{
  position: absolute !important;
}
.u-position-relative{
  position: relative !important;
}
/*
Margins
 */
$margin-xs: .5rem;
$margin-s: 1rem;
$margin: 2rem;
$margin-m: 3rem;
$margin-l: 4rem;
$margin-xl: 5rem;

.u-margin{
  margin: $margin !important;
}
.u-margin__ends{
  margin: $margin 0 !important;
}
.u-margin__sides{
  margin: 0 $margin !important;
}
.u-margin__left{
  margin: 0 0 0 $margin !important;
}
.u-margin__right{
  margin: 0 $margin 0 0 !important;
}
.u-margin__top{
  margin: $margin 0 0 0 !important;
}
.u-margin__bottom{
 margin: 0 0 $margin 0 !important;
}
.u-margin--xs{
  margin: $margin-xs !important;
}
.u-margin__ends--xs{
  margin: $margin-xs 0 !important;
}
.u-margin__sides--xs{
  margin: 0 $margin-xs !important;
}
.u-margin__left--xs{
  margin: 0 0 0 $margin-xs !important;
}
.u-margin__right--xs{
  margin: 0 $margin-xs 0 0 !important;
}
.u-margin__top--xs{
  margin: $margin-xs 0 0 0 !important;
}
.u-margin__bottom--xs{
  margin: 0 0 $margin-xs 0 !important;
}
.u-margin--s{
  margin: $margin-s !important;
}
.u-margin__ends--s{
  margin: $margin-s 0 !important;
}
.u-margin__sides--s{
  margin: 0 $margin-s !important;
}
.u-margin__left--s{
  margin: 0 0 0 $margin-s !important;
}
.u-margin__right--s{
  margin: 0 $margin-s 0 0 !important;
}
.u-margin__top--s{
  margin: $margin-s 0 0 0 !important;
}
.u-margin__bottom--s{
  margin: 0 0 $margin-s 0 !important;
}
.u-margin--m{
  margin: $margin-m !important;
}
.u-margin__ends--m{
  margin: $margin-m 0 !important;
}
.u-margin__sides--m{
  margin: 0 $margin-m !important;
}
.u-margin__left--m{
  margin: 0 0 0 $margin-m !important;
}
.u-margin__right--m{
  margin: 0 $margin-m 0 0 !important;
}
.u-margin__top--m{
  margin: $margin-m 0 0 0 !important;
}
.u-margin__bottom--m{
  margin: 0 0 $margin-m 0 !important;
}
.u-margin--l{
  margin: $margin-l !important;
}
.u-margin__ends--l{
  margin: $margin-l 0 !important;
}
.u-margin__sides--l{
  margin: 0 $margin-l !important;
}
.u-margin__left--l{
  margin: 0 0 0 $margin-l !important;
}
.u-margin__right--l{
  margin: 0 $margin-l 0 0 !important;
}
.u-margin__top--l{
  margin: $margin-l 0 0 0 !important;
}
.u-margin__bottom--l{
  margin: 0 0 $margin-l 0 !important;
}
.u-margin--xl{
  margin: $margin-xl !important;
}
.u-margin__ends--xl{
  margin: $margin-xl 0 !important;
}
.u-margin__sides--xl{
  margin: 0 $margin-xl !important;
}
.u-margin__left--xl{
  margin: 0 0 0 $margin-xl !important;
}
.u-margin__right--xl{
  margin: 0 $margin-xl 0 0 !important;
}
.u-margin__top--xl{
  margin: $margin-xl 0 0 0 !important;
}
.u-margin__bottom--xl{
  margin: 0 0 $margin-xl 0 !important;
}


/*
paddings
 */
$padding-xs: .5rem;
$padding-s: 1rem;
$padding: 2rem;
$padding-m: 3rem;
$padding-l: 4rem;
$padding-xl: 5rem;

.u-padding{
  padding: $padding !important;
}
.u-padding__ends{
  padding: $padding 0 !important;
}
.u-padding__sides{
  padding: 0 $padding !important;
}
.u-padding__left{
  padding: 0 0 0 $padding !important;
}
.u-padding__right{
  padding: 0 $padding 0 0 !important;
}
.u-padding__top{
  padding: $padding 0 0 0 !important;
}
.u-padding__bottom{
  padding: 0 0 $padding 0 !important;
}
.u-padding--xs{
  padding: $padding-xs !important;
}
.u-padding__ends--xs{
  padding: $padding-xs 0 !important;
}
.u-padding__sides--xs{
  padding: 0 $padding-xs !important;
}
.u-padding__left--xs{
  padding: 0 0 0 $padding-xs !important;
}
.u-padding__right--xs{
  padding: 0 $padding-xs 0 0 !important;
}
.u-padding__top--xs{
  padding: $padding-xs 0 0 0 !important;
}
.u-padding__bottom--xs{
  padding: 0 0 $padding-xs 0 !important;
}
.u-padding--s{
  padding: $padding-s !important;
}
.u-padding__ends--s{
  padding: $padding-s 0 !important;
}
.u-padding__sides--s{
  padding: 0 $padding-s !important;
}
.u-padding__left--s{
  padding: 0 0 0 $padding-s !important;
}
.u-padding__right--s{
  padding: 0 $padding-s 0 0 !important;
}
.u-padding__top--s{
  padding: $padding-s 0 0 0 !important;
}
.u-padding__bottom--s{
  padding: 0 0 $padding-s 0 !important;
}
.u-padding--m{
  padding: $padding-m !important;
}
.u-padding__ends--m{
  padding: $padding-m 0 !important;
}
.u-padding__sides--m{
  padding: 0 $padding-m !important;
}
.u-padding__left--m{
  padding: 0 0 0 $padding-m !important;
}
.u-padding__right--m{
  padding: 0 $padding-m 0 0 !important;
}
.u-padding__top--m{
  padding: $padding-m 0 0 0 !important;
}
.u-padding__bottom--m{
  padding: 0 0 $padding-m 0 !important;
}
.u-padding--l{
  padding: $padding-l !important;
}
.u-padding__ends--l{
  padding: $padding-l 0 !important;
}
.u-padding__sides--l{
  padding: 0 $padding-l !important;
}
.u-padding__left--l{
  padding: 0 0 0 $padding-l !important;
}
.u-padding__right--l{
  padding: 0 $padding-l 0 0 !important;
}
.u-padding__top--l{
  padding: $padding-l 0 0 0 !important;
}
.u-padding__bottom--l{
  padding: 0 0 $padding-l 0 !important;
}
.u-padding--xl{
  padding: $padding-xl !important;
}
.u-padding__ends--xl{
  padding: $padding-xl 0 !important;
}
.u-padding__sides--xl{
  padding: 0 $padding-xl !important;
}
.u-padding__left--xl{
  padding: 0 0 0 $padding-xl !important;
}
.u-padding__right--xl{
  padding: 0 $padding-xl 0 0 !important;
}
.u-padding__top--xl{
  padding: $padding-xl 0 0 0 !important;
}
.u-padding__bottom--xl{
  padding: 0 0 $padding-xl 0 !important;
}

// Z-index utilites
// this mixin returns a number
// of z-index utility classes
// it works by taking a number (10 should be fine)
// it takes the number($num) and iterates($i) from 1 to it.
// each iteration returns a z-index class with a value
// of the two operands times each other.
@mixin zIndexClasses {
  $num: 10;
  @for $i from 1 through $num{
    .u-z-#{$i} {
      position: relative;
      z-index: $i*$num !important;
      &--negative{
        position: relative;
        z-index: ($i*$num) * -1 !important;
      }
    }
  }
}
@include zIndexClasses();

.u-text-nowrap{
  white-space: nowrap!important;
}

