// SASS Variables
// cta a.k.a BEAN
$cta: #b14d61;
// bean darker
$cta-darker: #9e465b;

$success: #4F8A10;

$animation-easing: cubic-bezier(0.075, 0.82, 0.165, 1);

// grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
