// Import Raleway
@import url('https://fonts.googleapis.com/css?family=Raleway:700,900');

// SASS Variables
// cta a.k.a BEAN
$cta: #b14d61;
// bean darker
$cta-darker: #9e465b;

// grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

@import 'utilities';
@import 'breakpoints';
@import 'grid';



// CSS Variables
:root{
  --cta: #b14d61;
  --cta-darker: #9e465b;
  --section-headline: rgb(242,242,242);
  --body-color: rgb(51,51,51);
  --font-family: Raleway, sans-serif;
}
// @mixins
@mixin debug($c){
  border: solid 2px $c;
}
// burger menu position
@mixin burgerMenuPositioning(){
  // the menu icon position
  position: fixed;
  right: 5rem;
  top:2.5rem;
}
// reset
*{
  &, &:after, &:before{
    margin: 0;
    padding: 0;
  }
}
html{
  position: relative;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;

  // make 1rem equal 10px
  font-size: 62.5%; // 16px / 100 = 62.5% i.e. 10px = 1rem
  font-family: var(--font-family);
}
main{
  position: relative;
}
.logo{
  display: block;
  text-indent: -9999rem;
  width: 100%;
  height: 100%;
  &__hero{
    &--dark{
      background: url(../img/logo_hero--dark.svg);
      background-repeat: no-repeat;
    }
    &--light{}
  }
  &__secondary{
    &--bean{}
    &--black{}
    &--white{
      background: url(../img/logo_secondary--white.svg);
      background-repeat: no-repeat;
    }
  }
}
.headline{
  font-size: 6rem;
  color: var(--cta);
  font-weight: 900;
  line-height: 6.5rem;
  letter-spacing: -0.01rem;

  @include media(tab-port){
    font-size: 4rem;
    line-height: 4.5rem;
  }
  @include media(phone){
    font-size: 3.2rem;
    line-height: 3.8rem;
  }

  &--2 {
    font-size: 6rem;
    font-weight: 900;
    color: var(--cta);
    letter-spacing: -0.01rem;
    margin-bottom: 1.6rem;
    @include media(tab-port){
      font-size: 4rem;
    }
    @include media(phone){
      font-size: 2.8rem;
    }
  }
  &--3{
    font-size: 3rem;
    font-weight: 900;
    color: inherit;
  }

}

.text-white{
  color: white !important;
}
.text-body{
  color: var(--body-color) !important;
}
.text-cta{
  color: var(--cta) !important;
}

.body-text{
  font-size: 2.8rem;
  color: var(--body-color);
  line-height: 3.4rem;
  letter-spacing: 0;
  font-weight: 700;
}

.legal{
  font-size: 1rem;
  color: currentColor;
  line-height: 1;
}

.header{
  width: 100vw;
  position: fixed;
  top: 10.9rem;
  font-size: 1.3rem;
  z-index: 5;
}
// button styles
.btn{
  //resets
  outline: none;
  border: none;
  //styles
  padding: 1rem 2rem;
  font-weight: 700;
  font-size: 1.8rem;
  background-color: var(--cta);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s ease-out;

  &:hover{
    transform: translateY(-.4rem);
    background-color: var(--cta-darker);
    box-shadow: 0 2rem 4rem rgba(0,0,0,0.2);
  }

  &:active{
    transform: translateY(-.2rem);
    background-color: var(--cta);
    box-shadow: 0 2rem 2rem rgba(0,0,0,0.1);
  }

  &--outline{
    background-color: transparent;
    background: linear-gradient(to right,
            rgba($cta,1) 50%,                         rgba(0,0,0,0) 50%);
    background-size: 200%;
    background-position: -100%;
    color: var(--cta);
    border: 2px solid currentColor;
    &:hover{
      color: white;
      border-color: transparent;
      background-position: 100%;
    }
  }
  &--light{
    background-color: white;
    color: var(--cta);
    &:hover{
      background-color: white;
    }
    &:active{
      color: var(--cta-darker);
    }
  }
  &--text{
    background-color: transparent;
    color: var(--cta);
    &:hover{
      background-color: transparent;
    }
    &:active{
      color: var(--cta-darker);
    }
  }
}
// Text Input Styles

.text-input{

  $textInputFontSize: 2rem;

  &__container{
    padding: 4rem 0;
    position: relative;
    display: block;
  }

  // positioning
  position: absolute;
  top: 0;
  //styles
  width: 30%;
  background-color: transparent;
  border: none;
  border-bottom: 1.2px solid black;
  padding: 1.2rem 1rem;
  transition: all .4s ease-out;
  font-family: inherit;
  font-size: $textInputFontSize;
  caret-color: var(--cta-darker);
  transition: all .4s ease-out;

  // label
  &__label{
    position: absolute;
    font-size: $textInputFontSize;
    padding: 1.2rem 1rem;
    font-weight: 900;
    top: 0;
    transition: all .2s ease-out;
  }

  &:not(:placeholder-shown) ~ .text-input__label{
    transform: translateY(-4rem);
    color: var(--cta-darker);
  }

  &:focus, &:active {
    outline: none;
    border-bottom-color: var(--cta);
    box-shadow: 0 2rem 4rem rgba(0,0,0,0.2);
  }
}
.text-input::placeholder{
  opacity: 0;
}

.radio-input__group{
  padding: 2.5rem 0rem;
  position: relative;
  display: block;
  &-label{
    font-size: 2.8rem;
    font-weight: 900;
    text-transform: lowercase;
    margin-bottom: 2rem;
  }
}

.radio-input-container{
  display: inline-block;
  margin: 2rem 2rem 4rem 8rem;

  &:focus, &:active{
    outline: none;
    box-shadow: 0 2rem 4rem rgba(0,0,0,0.2);
  }

}

.radio-input{
  display: none;
  position: absolute;

  &__label{
    position: relative;
    font-size: 1.8rem;
    text-transform: lowercase;
    cursor: pointer;

    @mixin radioStyles{
      //position
      position: absolute;
      content: '';
      top: -1rem;
      left: -8rem;
      //size
      width: 4rem;
      height: 4rem;
      // transition
      transition: all .3s ease-out;
    }

    &:before{
      @include radioStyles();
      z-index: 4;

      //style
      background-color: white;
      border-radius: 4rem;
      transform-origin: center;
      transform: scale(.6);
    }
    &:after{
      @include radioStyles();
      // style
      background-color: $cta;
      border-radius: 4rem;
    }
  }
}

input[type="radio"]:checked + .radio-input__label{
  &:before{
    transform: scale(0);
  }
  &:after{
    background-color: var(--cta-darker);
  }
}

// Nav Menu styles
// TODO: migrate into .header
// TODO: Convert values to rem
.menu-container{
  // positioning
  @include burgerMenuPositioning();
  // size
  width: 8rem;
  height: 8rem;
  // container styles
  background-color: white;
  border-radius: 20rem;
  box-shadow: 0 0 4rem rgba(0,0,0,0.12);
  cursor: pointer;
  transition: all .2s ease-out;
  z-index: 120;

  /*.menu-container*/&__inner{
    position: absolute;
    width: 6rem;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    svg{
      * {
        transition: all .2s ease-out;
      }
      .fill--cta {
        fill: var(--cta);
      }
      path[name="top"]{
        transform-origin: right center;
      }
      path[name="middle"]{
        transform-origin: center center;
      }
      path[name="bottom"]{
        transform-origin: center center;
      }
    } // end svg
  } // end __inner

  /*.menu-container*/&:hover, &:focus{
    transform: translateY(-8px);
    svg{
      .fill--cta{
        fill: var(--cta-darker);
      }
      path[name="top"]{
        transform: rotate(15deg);
      }
      path[name="bottom"]{
        transform: translateY(-10px);
      }
    }
  } // end :hover + :focus

  // make the black cross.
  &:active{
    background-color: var(--cta);
    transform: translateY(-.4rem);
    svg{
      .fill--cta{
        fill: var(--cta);
      }
      path[name="top"]{
        transform-origin: center center;
        transform: rotate(43deg) translateY(15rem) scaleX(1.7);
        fill: white !important;
      }
      path[name="bottom"]{
        transform: translateX(-125px) translateY(-120px) rotate(-48deg) scaleX(1.9);
        fill: white !important;
      }
      path[name="middle"]{
        transform: scale(2.8);
        border-radius: 200px;
        fill: transparent;
      }
    } // end svg
  } // end :active
} // end menu-container

.active {
  background-color: transparent;
  box-shadow: 0 0 0 rgba(0,0,0,0);
} // end active

input[type="checkbox"]{
  display: none;
  visibility: hidden;
} // end input[type=checkbox]


#menu:checked{
  & ~ .menu-container__inner{
    // transform: translateY(-4px);
    svg{
      .fill--cta{
        fill: var(--cta);
      }
      path[name="top"]{
        transform-origin: center center;
        transform: rotate(43deg) translateY(15rem) scaleX(1.7);
        fill: white !important;
      }
      path[name="bottom"]{
        transform: translateX(-12.5rem) translateY(-12.0rem) rotate(-48deg) scaleX(1.9);
        fill: white !important;
      }
      path[name="middle"]{
        transform: scale(2.8);
        fill: transparent;
      }
    } // end svg
  }
} // #menu:checked

.nav-bg{

  @include burgerMenuPositioning();

  // styles
  width: 8rem;
  height: 8rem;
  transform: scale(0);
  opacity: 0.01;
  transition: all .5s ease-out;
  z-index: 3;
  border-radius: 200px;
  background-color: var(--cta);
  background: radial-gradient(circle at 100%, var(--cta), var(--cta-darker));
  transform-origin: center center;

  &.active{
    transform: scale(85);
    opacity: 1;
  }
} // end nav-bg

.nav{
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  z-index: -5;
  transform: translateY(-100vh);
  transition: transform .6s ease-out;
  background-color: transparent;

  &__logo-box{
    //position
    position: absolute;
    //left: 16.4rem;
    top: 6.9rem;
    //size
    width: 30rem;
    height: 17.1rem;
    opacity: 0;
    transition: opacity .4s ease-out .6s;
  }

  ul{
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: top;
    opacity:0;
    transition: all .4s ease-out .2s;
    li{
      color: white;
      font-size: 40px;
      font-weight: 700;
      letter-spacing: -.22rem;
      background: linear-gradient(to left,
              rgba(255,255,255,1) 50%,
              rgba(255,255,255,0) 50%,
              rgba(255,255,255,0) 100%);
      background-size: 220%;
      cursor: default;
      transition: all .2s ease-out;
      padding: 1.0rem 1.5rem;
      &:hover{
        background-position: 100%;
        color: var(--cta);
        transform: translateX(10px);
      }
      &:not(:last-child){
        margin-bottom: 15px;
      }
      a{
        &:link,
        &:visited{
          text-decoration: none;
          color: currentColor;
        }
      }

    }
  }
  &.active{
    transform: translateY(0);
    z-index: 5;
    .nav__logo-box{
      opacity: 1;
    }

    ul{
      opacity: 1;
      transform: translate(-50%, -50%);
      transition: opacity .4s ease-out;
      transition-delay: 0;
      li{
        cursor: pointer;
        a{
          &:link,
          &:visited{
            text-decoration: none;
          }
          &:active{
            outline: none;
          }
        }
      }
    }
  }
} // end nav

.section{
  width: 100vw;
  position: relative;

  &__headline-box{
    position: absolute;
    width: 100vw;
    top: 2.5rem;
    &--order {
      top: 0;
      margin-top: -55rem;
      opacity: .5;
    }
  }
  &__headline{
    width: 100%;
    font-size: 20rem;
    line-height: 6.5rem;
    letter-spacing: -0.01rem;
    text-align: left;
    font-weight: 900;
    color: var(--section-headline);

    &--bean{
      color: var(--cta-darker);
    }

    @include media(tab-port){
      font-size: 15rem;
    }
  }

  &__home{
    background: linear-gradient(to bottom,
            rgba(255,255,255,1),
            rgba(217,217,217,1));
    height: 100vh;

    &-logo-box{
      position: absolute;
      width: 30rem;
      height: 17.1rem;
      top: 6.9rem;
      @include media(tab-land){
        left: 10rem;
      }
    }
    &-headline-box{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 54.2rem;
      height: 17.4rem;

      @include media(phone){
        width: 35rem;
      }
      @include media(tab-land){
        left: 10rem;
      }


    }
    &-hero-image-box{
      position: absolute;
      bottom: 0;
      right: 0;
      width: 80vw;
      height: auto;
      //background: linear-gradient(to right, rgba($cta,.5), rgba($cta-darker,.5)) url('../img/hero_image@300x.png');
      img{
        height: 100%;
        width: 100%;
      }

      @include media(tab-land){
        width: 60vw;
      }

      @include media(tab-port){
        width: 80vw;
      }

    }
  }//end __home
  &__story{

    height: 100vh;
    &-textbox{

      margin-top: 14rem;
      @include media(tab-port){
        margin-top: 0;
      }
      &--left{
        //SIZING
        width: 44.7rem;

        @include media(tab-port){
          margin-top: 10rem;
        }
      }
      &--right{
        //SIZING
        width: 32.4rem;

        @include media(tab-port){
          margin-bottom: 10rem;
        }

      }
    }
  }
  &__order{
    //positioning
    position: relative;
    margin-top: -50vh;
    //sizing
    width: 100vw;
    height: 73rem;
    background-color: var(--cta-darker);
    perspective: 2000px;
    //order form styles

    @include media(tab-port){
      margin-top: 0;
    }

    &-form-container{
      //position
      position: absolute;
      left: 50%;
      top: -41rem;
      transform: translateX(-50%);

      //size
      width: 127.3rem;
      height: 114.6rem;

      //style
      background-color: white;
      border-radius: 80px 80px 0 0;
      box-shadow: 0 2rem 4rem rgba(0,0,0,.3);
      backface-visibility: hidden;
      //transition
      transition: all .8s ease-in-out;

      &--front{
        &.submitted{
          transform: rotateY(180deg) translateX(-50%);
        }
      }
      &--back{
          transform: rotateY(-180deg) translateX(-50%);
        &.submitted{
          transform: rotateY(0deg) translateX(-50%);
        }
      }

    }

    &-form{
      //position
      position: absolute;
      margin: 0 auto;
      left: 10rem;
      top: 8rem;

      //size
      width: 80%;

      .confirmation-text-box{
        position: absolute;
        left: 64rem;
        width: 45rem;
      }

      &-error-container{
        display: block;
        resize: none;

        outline: none;
        // sizing
        width: 100%;
        height: auto;
        // style
        font-family: inherit;
        background-color: rgba($cta-darker, .5);
        border: solid 2px var(--cta-darker);

        color: darken($cta-darker, 20%);
        transform: scaleY(0);
        transition: all .2s ease-out;
      &.active{
        transform: scaleY(1);
        padding: 2rem 1.4rem;
        margin-bottom: 4rem;
      }

      }
    }
  }

  &__contact{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: white;

    @include media(tab-port){
      height: 100%;
    }

    &--left{
      position: relative;
      background-color: var(--cta);
      display: inline-block;
      width: 48%;
      height: 100%;

      @include media(tab-port){
        width: 100%;
        height: 85rem;
        display: block;
        position: relative;
      }

    }
    &--right{
      position: relative;
      display: inline-block;
      width: 48%;
      height: 100%;

      @include media(tab-port){
        width: 100%;
        height: 85rem;
        display: block;
        position: relative;
      }

    }
    &--content{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
    &--form{
      .text-input__container {
        .text-input{
          //size
          width: 100%;
          // style
          border-bottom-color: white;
          color: white;
        }
        .text-input__label{
          color: white;
        }
        .text-input:not(:placeholder-shown) + .text-input__label{
          color: var(--cta-darker);
        }
      }
    }
  }
}// end .section

.coffee-feature-container{
  // position
  position: relative;
  margin-top: -35rem;
  //size
  width: 100vw;
  height: auto;
  overflow: hidden;
  @include media(tab-port){
    margin-top: -14rem;
  }
}
.coffee-feature{
  width: 100%;
}

.order-confirmation-image-container{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.order-confirmation-image{
  width: 100%;
}

.footer{
  position: relative;
  width: 100vw;
  height: 45vh;
  padding: 2rem;
  background-color: var(--cta);

  &__content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  // footerLogoHeight is defined here to help position legal container
  $footerLogoHeight: 14.9rem;
  &__logo-container{
    width: 25.3rem;
    height: $footerLogoHeight;

    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
  &__legal-container{
    width: 30rem;
    margin-top: $footerLogoHeight + 2rem;
    text-align: left;
  }
}
