
.radio-input-container {
  display: inline-block;
  margin: 2rem 2rem 2rem 8rem;
  &:last-of-type {
    margin: 2rem 2rem 0 8rem;
  }

  @include media(tab-land) {
    width: 100%;
  }

  &:focus, &:active {
    outline: none;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  }
}

.radio-input{
  display: none;
  position: absolute;
  flex: 1;
  &__label{
    position: relative;
    font-size: 1.8rem;
    text-transform: lowercase;
    cursor: pointer;

    @include media(tab-land){
      font-size: 1.4rem;
    }

    @mixin radioStyles{
      //position
      position: absolute;
      content: '';
      top: -1rem;
      left: -8rem;
      //size
      width: 4rem;
      height: 4rem;
      // transition
      transition: all .3s ease-out;
    }

    &:before{
      @include radioStyles();
      z-index: 4;

      //style
      background-color: white;
      border-radius: 4rem;
      transform-origin: center;
      transform: scale(.6);
    }
    &:after{
      @include radioStyles();
      // style
      background-color: var(--cta);
      border-radius: 4rem;
    }
  }
}

input[type="radio"]:checked + .radio-input__label{
  &:before{
    transform: scale(0);
  }
  &:after{
    background-color: var(--cta-darker);
  }
}